<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anantabhyas.admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="अनंत अभ्यास एडमिन"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        
        <!-- स्प्लैश स्क्रीन (लोगो लॉन्च पेज) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- मुख्य एडमिन डैशबोर्ड -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>
</manifest>
